﻿<script id="details" type="text/html">
    <a href="#" data-bind="click: ShowSearchView">Back to contacts list</a>
    <hr />
    <div data-bind="with: ActiveContact">
        <div class="alerts-container">
            <div class="alert alert-danger" data-bind="fadeVisible: ErrorMessageVisible">
                <a href="#" class="close" data-bind="click: CloseAlert">&times;</a>
                A problem has been occurred while saving your data.
            </div>
            <div class="alert alert-success" data-bind="fadeVisible: SuccessMessageVisible">
                <a href="#" class="close" data-bind="click: CloseSuccessMessage">&times;</a>
                Your changes has been saved successfully.
            </div>
        </div>

        <form class="form-horizontal clearfix">
            <h3 data-bind="text: Name"></h3>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <!--ko if: IsInEditMode -->
                    <input type="text" class="form-control" id="name" maxlength="255" data-bind="value: NameDraft">
                    <!-- /ko-->
                    <!--ko ifnot: IsInEditMode -->
                    <p class="form-control-static" data-bind="text: Name"></p>
                    <!-- /ko-->
                </div>
            </div>
            <div class="form-group">
                <label for="jobTitle" class="col-sm-2 control-label">Job title:</label>
                <div class="col-sm-10">
                    <!--ko if: IsInEditMode -->
                    <input type="text" class="form-control" id="jobTitle" maxlength="255" data-bind="value: JobTitleDraft">
                    <!-- /ko-->
                    <!--ko ifnot: IsInEditMode -->
                    <p class="form-control-static" data-bind="text: JobTitle"></p>
                    <!-- /ko-->
                </div>
            </div>
            <div class="form-group">
                <label for="jobTitle" class="col-sm-2 control-label">Phone number:</label>
                <div class="col-sm-10">
                    <!--ko if: IsInEditMode -->
                    <input type="text" class="form-control" id="phoneNumber" maxlength="50" data-bind="value: PhoneNumberDraft">
                    <!-- /ko-->
                    <!--ko ifnot: IsInEditMode -->
                    <p class="form-control-static" data-bind="text: PhoneNumber"></p>
                    <!-- /ko-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <fieldset data-bind="enable: IsInEditMode">
                        <div class="checkbox">
                            <label>
                                <!--ko if: IsInEditMode -->
                                <input type="checkbox" data-bind="checked: EnabledDraft">Enabled
                                <!-- /ko-->
                                <!--ko ifnot: IsInEditMode -->
                                <input type="checkbox" data-bind="checked: Enabled">Enabled
                                <!-- /ko-->
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="form-group col-sm-12" data-bind="visible: IsInEditMode">
                <fieldset data-bind="disable: SaveInProgress">
                    <button type="button" id="saveButton" class="btn btn-primary formButton" data-bind="click: SaveChanges">
                        <!-- ko if: SaveInProgress -->
                        <img src="../../Images/ajax-button-loader.gif" />
                        <!-- /ko-->
                        <!-- ko ifnot: SaveInProgress -->
                        Save
                        <!-- /ko-->
                    </button>
                    <button type="button" id="cancelButton" class="btn btn-default" data-bind="click: DisableEditMode">Cancel</button>
                </fieldset>
            </div>
            <div data-bind="visible: !IsInEditMode()">
                <a href="#" data-bind="click: EnableEditMode">Edit this contact</a>
            </div>
        </form>
    </div>
</script>