﻿<script id="search" type="text/html">
    <hr />
    <div class="alerts-container">
        <div class="alert alert-danger" data-bind="fadeVisible: ErrorMessageVisible">
            <a href="#" class="close" data-bind="click: CloseAlert">&times;</a>
            A problem has been occurred while processing your request.
        </div>
    </div>
    <h3>Search for contacts:</h3>
    <form class="clearfix row">
        <div class="form-group col-sm-4">
            <label for="nameSearchText">Name contains:</label>
            <input type="text" class="form-control" id="nameSearchText" data-bind="value: NameSearchText, valueUpdate: ['input', 'afterkeydown']">
        </div>
        <div class="form-group col-sm-4">
            <label for="jobTitleSearchText">Job title contains:</label>
            <input type="text" class="form-control" id="jobTitleSearchText" data-bind="value: JobTitleSearchText, valueUpdate: ['input', 'afterkeydown']">
        </div>
        <div class="form-group col-sm-3">
            <label for="contactState">State:</label>
            <select class="form-control" id="contactState" data-bind="options: ContactStates, value: SelectedSearchStateName"></select>
        </div>
        <div class="form-group col-sm-1">
            <button type="submit" id="searchButton" class="btn btn-primary" data-bind="click: Search">Search</button>
        </div>
    </form>

    <hr />
    <h3>Results:</h3>
    <div data-bind="visible: SearchInProgress">
        <img class="center-block" src="../../Images/ajax-loader.gif" />
    </div>
    <table class="table table-striped table-bordered table-responsive" data-bind="visible: ShouldDisplayResultsTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Job title</th>
                <th>Phone</th>
                <th>Enabled</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: SearchResults">
            <tr>
                <td><a href="#" data-bind="text: Name, click: $parent.ShowContactDetails"></a></td>
                <td data-bind="text: JobTitle"></td>
                <td data-bind="text: PhoneNumber"></td>
                <td data-bind="text: Enabled"></td>
            </tr>
        </tbody>
    </table>

    <div data-bind="visible: !SearchInProgress()">
        Found <span data-bind="text: SearchResultsCount"></span> results matching your criteria.
    </div>
</script>