﻿.footerSpace {
    padding-bottom: 70px;
}

.formButton {
    float: left;
    margin-right: 5px;
    min-width: 80px;
}

#searchButton {
    margin-top: 25px;
}

.alerts-container {
    top: 90px;
    max-width: 450px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 10;
}

.form-horizontal .control-label {
   text-align: left; 
}